body {
  font-family: monospace, sans-serif;
  background-color: black;
  color: green;
}
a {
  color: white;
}

.page-title {
  text-align: center;
}
.page-summary {
  text-align: center;
  font-size: 1.5em;
}
.section-title {
  font-size: 1.5em;
  border-bottom: 1px solid;
}
.command-list {
  display: flex;
}
